html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Titillium Web', Arial, sans-serif;
	font-weight: lighter;
}

hr {
    max-width: 50px;
    border-color: #048BA8;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
	font-weight: bold;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
	color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Titillium Web', Arial, sans-serif;
	font-weight: normal;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.audience {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.bg-primary {
    background-color: #048BA8;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.bg-info {
    background-color:  #f0f0f0;
}

.bg-info img{
	margin: 20px 0px 0px 20px;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 50px 0;
}


.no-padding {
    padding: 0;
}


@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #048BA8;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #d41639;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #048BA8;
    }
}

header {
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../images/header2020.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    width: 100%;
    padding-right: 10%;
    text-align: right;
	padding-bottom: 30%;
}

header .header-content img {
	margin-top: 40px;
	margin-bottom: 110px;
}


@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.btn-primary {
    border-color: #048BA8;
    color: #fff;
    background-color: #048BA8;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #048BA8;
    color: #fff;
    background-color: #048BA8;
}

.btn-primary .badge {
    color: #048BA8;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-weight: 700;
	padding: 15px 30px;
}
