---
title: PIDapalooza 2020
---

<!-- -------------------------- HEADER -------------------------------- -->

<header>
 <div class="header-content">
	  <img src="images/PIDapalooza-logo-2020.png" alt="pidapalooza" width="40%" align=”right”/>
		<br /><br /><br /><br />
		<a href="https://pidapalooza2020.eventbrite.com" class="btn btn-default">
		   Save the date
		</a>
		<br />
  </div>



<!-- <div class="audience">
<a href="https://pidapalooza2020.eventbrite.com">
		   Plus, You Can Register Now
		</a>
  </div> -->

</header>


 <!-- ------------------------ THEMES ------------------------------ -->


    <section class="bg-default">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

            <h2 class="section-heading">
		Open identifiers deserve their own festival
	</h2>
            <hr class="light">
            <p>Why build an open identifier infrastructure? So
		that anyone can use it to create cool tools and
		services for the research community. This year's festival themes include: </p>

<h4>PID myths</h4>
<p>Are PIDs better in our minds than in reality?  PID stands for Persistent IDentifier, but what does that mean and does such a thing exist?</p>

<h4>Achieving persistence</h4>
<p>So many factors affect persistence: mission, oversight, funding, succession, redundancy, governance.  Is open infrastructure for scholarly communication the key to achieving persistence?</p>

<h4>PIDs for emerging uses</h4>
<p>Long-term identifiers are no longer just for digital objects.  We have use cases for people, organizations, vocabulary terms, and more. What additional use cases are you working on?</p>

<h4>Legacy PIDs</h4>
<p>There are of thousands of venerable old identifier systems that people want to continue using and bring into the modern data citation ecosystem.  How can we manage this effectively?</p>

<h4>Bridging worlds</h4>
<p>What would make heterogeneous PID systems 'interoperate' optimally?  Would standardized metadata and APIs across PID types solve many of the problems, and if so, how would that be achieved?  What about standardized link/relation types?</p>

<h4>PIDagogy</h4>
<p>It’s a challenge for those who provide PID services and tools to engage the wider community. How do you teach, learn, persuade, discuss, and improve adoption? What's it mean to build a pedagogy for PIDs?</p>

<h4>PID stories</h4>
<p>Which strategies worked?  Which strategies failed?  Tell us your horror stories! Share your victories!</p>

<h4>Kinds of persistence</h4>
<p>What are the frontiers of 'persistence'? We hear lots about fraud prevention with identifiers for scientific reproducibility, but what about data papers promoting PIDs for long-term access to reliably improving objects (software, pre-prints, datasets) or live data feeds?</p>

	<br /> <br /> <br />

                </div>
            </div>
        </div>
    </section>


<!-- ------------------------ INFORMATION -------------------------------- -->

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Information</h2>
        <hr class="primary">
        <p>
					PIDapalooza is back and better than ever! The two-day Persistent Identifier festival returns January 29-30, 2020 in Portugal. California Digital Library, Crossref, DataCite, and ORCID invite you to Dublin for a mixture of PID demos, workshops, brainstorming and updates on the state of the art. Don't miss out!
        </p>
        <p>
          <strong>Where:</strong> <br />
          Still looking! <br />Any ideas? <br />Somewhere in Portugal<br />

        </p>
        <p>
          <strong>When:</strong><br />
					29th and 30th January 2020
        </p>
	 <p>
          <strong>Accommodation:</strong><br />
					More info coming soon
	      </p>


	<!-- <p>
          <strong>Persistent Identifier:</strong><br />
					https://doi.org/10.5438/11.0002
        </p>-->

  	<!-- <p>
          <br />
          <a href="https://pidapalooza2020.eventbrite.com" class="btn btn-default">
            Register here!
          </a>
          <br />
        </p>
      </div>
    </div>
  </div>
</section>
</p>-->

<!-- ------------------------ MAP -------------------------------- -->
	  <section id="map" class="bg-default">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d99580.03468306034!2d-9.230243458720365!3d38.74360570355565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19331a61e4f33b%3A0x400ebbde49036d0!2sLisbon%2C+Portugal!5e0!3m2!1sen!2suk!4v1556366953817!5m2!1sen!2suk" width="2000" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
		</section>


<!-- ------------------------ AGENDA ------------------------------ -->


    <section>
    <div class="container">
          <h2 id="lineup">Last year's lineup</h2>
    <a id="sched-embed" href="https://pidapalooza19.sched.com/grid/" data-sched-sidebar="no">View the PIDapalooza 2018 schedule &amp; directory.</a>
    	<script type="text/javascript" src="https://pidapalooza19.sched.com/js/embed.js"></script>
    	</div>
    </section>


<!-- ------------------------ CANT WAIT -------------------------------- -->


    <section class="bg-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">
						Contact us
					</h2>
					<hr class="primary">
					<p>
						<i class="fa fa-twitter fa-2x"></i>
						<br />
						<a href="https://twitter.com/pidapalooza">
						@pidapalooza
						</a>
						<br />
						#pidapalooza
						<br /><br />
						<i class="fa fa-envelope fa-2x"></i>
							<br />
							<a href="mailto:info@pidapalooza.org">
							info@pidapalooza.org
						</a>
					</p>
					<p>
						<a href="https://crossref.org">
							<img src="images/crossref.svg" width="120px" alt="Crossref" />
						</a>
						<a href="https://datacite.org">
							<img src="images/datacite.svg" width="250px" alt="Crossref" />
						</a>
						<a href="https://orcid.org">
							<img src="images/orcid.svg" width="150px" alt="Crossref" />
						</a>
						<a href="https://www.cdlib.org">
							<img src="images/cdl.svg" width="150px" alt="CDL" />
						</a>
					</p>
			<p>PIDapalooza is organized by ORCID, Crossref, California Digital Library, and DataCite.</p>
                </div>
            </div>
        </div>
    </section>

<!-- ------------------------ TRAVEL -------------------------------- -->

<!--<section class="bg-primary" id="travel">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Travel Information</h2>
        <hr class="primary">
	      <p>How do I get from Barcelona's El Prat Airport to Girona? This is a VERY EASY three step process:</p>
	<p>
		<b>1. Airport to Barcelona Sants Station (train station)</b><br/>
- Take the free shuttle bus from Terminal 1 to Terminal 2<br/>
- From Terminal 2, go to Rodalies Renfe Train Station (200m from T2) and take R2 train to Barcelona Sants (one train every 30 minutes).
		      First train leaves at 5:42 am; last train leaves at 11:38 pm. Journey: 20 minutes; Price: 4.10€
	      </p>
	      <p>
<b>2. From Barcelona Sants Station to Girona</b>
<br/>- OPTION 1: MD Train. Journey: 1h 20minutes. Price: 11.25€
<br/>- OPTION 2: AVANT. Journey: 38 minutes. Price: 16.20€
<br/>- OPTION 3: AVE. Journey: 38 minutes. Price: 31.30€
<br/> *Ask box office regarding specific platform and departure times. <a href="https://docs.google.com/document/d/1KIqJX59KwWaryT4o42ehtkMQejnTyZttbGn5F4L7H0I/edit?usp=sharing">Details regarding 35% discount on AVE trains available here.</a>
 	      </p>
	      <p>
<b>3. From Girona Train Station to PIDapalooza Meeting (Palau de Congressos)</b><br/>
- TAXI. Journey: 8 minutes. Price: 10€ approx.<br/>
- BUS.  At the Train station, take bus L11 (Green color). One bus every 14 minutes. Journey: 12 minutes. Price: 1.40€ <br/>
- WALKING. It is a quick/easy walk. Journey: 16 minutes. More details <a href="https://www.google.es/maps/dir/Girona,+17002+Gerona,+Girona/Auditori+Palau+de+Congressos+de+Girona,+Passeig+de+la+Devesa,+35,+17001+Gerona,+Girona/@41.9826914,2.809428,16z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x12bae7274b273945:0x98fb503d381f28eb!2m2!1d2.8169214!2d41.9793477!1m5!1m1!1s0x12bae718a6d97f47:0x710ad0d781aae79c!2m2!1d2.8115666!2d41.9860199!3e2"><font color="white">here</font></a>
        </p>
	      <p>If you have any questions or concerns, please reach out to us at info@pidapalooza.org.</p>
	      <p>
          <strong>Accommodations:</strong><br />
					We do not have an official conference hotel in Girona. However, we have compiled a <a href="https://docs.google.com/spreadsheets/d/1wnCyV3tM166t6rubiweKaPilbkl_kMwZFeno8kxKOFM/edit?usp=sharing"><font color="white">list of options/ideas here</font></a>.
        </p>
      </div>
    </div>
  </div>
</section>-->
