---
title: PIDapalooza
---

<!-- -------------------------- HEADER -------------------------------- -->

<header>
  <div class="header-content">
	  <img src="images/logo.svg" alt="pidapalooza" width="40%" />
		<br /><br /><br /><br />
		<a href="#agenda" class="btn btn-primary">
		   Festival Lineup Announced!
		</a>
		<br />
  </div>
	<div class="audience">
	  Martin Fisch -
	  <a href="https://www.flickr.com/photos/marfis75/7968954274/">
		  The audience is shaking
	  </a>
  </div>
</header>

<!-- -------------------------- PLENARIES -------------------------------- -->

<section class="bg-dark">
<div class="container">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2 class="section-heading">
			  Main Stage: Plenary Sessions
			</h2>
			<br /><br />
		</div>
	</div>

  <div class="row text-center">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/speakers/carly_strasser.jpg" alt="carly">
        <div class="caption">
          <h3>Carly Strasser</h3>
          <p>Reaching Nirvana: The Future of Identifiers</p>
          <p><a href="#4" class="btn btn-warning">Session Info</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/speakers/clifford_tatum.jpg" alt="clifford">
        <div class="caption">
          <h3>Clifford Tatum</h3>
          <p>Demand for Research Information</p>
          <p><a href="#3" class="btn btn-warning">Session Info</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/speakers/herbert_van_de_sompel.jpg" alt="herbert">
        <div class="caption">
          <h3>Herbert Van de Sompel</h3>
          <p>Signposting pattern for PIDs</p>
          <p><a href="#3" class="btn btn-warning">Session Info</a></p>
        </div>
      </div>
    </div>

	</div>
  <div class="row text-center">

	  <div class="col-md-4 col-md-offset-2">
      <div class="thumbnail">
        <img src="images/speakers/jonathan_clark.jpg" alt="jonathan">
        <div class="caption">
          <h3>Jonathan Clark</h3>
          <p>PIDvasive - What’s possible when everything has a Persistent Identifier?</p>
          <p><a href="#1" class="btn btn-warning">Session Info</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/speakers/simon_porter.jpg" alt="simon">
        <div class="caption">
          <h3>Simon Porter</h3>
          <p>Exploring the relationship between Persistent Identifiers and Research Information citizenship</p>
          <p><a href="#2" class="btn btn-warning">Session Info</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
</section>

<!-- -------------------------- AGENDA -------------------------------- -->

<section id="agenda">



  <h2 class="section-heading" align="center">
    PIDapalooza 2016 Lineup
  </h2>
	<div class="tg-wrap">
	<table class="tg" style="undefined;table-layout: fixed; width: 1140" align="center">
<colgroup>
<col style="width: 15px">
<col style="width: 150px">
<col style="width: 10px">
<col style="width: 150px">
<col style="width: 10px">
<col style="width: 150px">
<col style="width: 10px">
<col style="width: 150px">
<col style="width: 10px">
<col style="width: 150px">
<col style="width: 10px">
<col style="width: 150px">
<col style="width: 10px">
<col style="width: 150px">
<col style="width: 15px">
</colgroup>
  <tr>
    <td class="tg-le8v"></td>
	  <td class="tg-u722"><b>PID Stories</b>: Which strategies worked? Which strategies failed? Tell us your horror stories! Share your victories!</td>
    <td class="tg-le8v"></td>
    <td class="tg-ufe5"><b>Emerging PIDs</b>: Long-term identifiers are no longer just for digital objects. What additional use cases are you working on?</td>
    <td class="tg-le8v"></td>
    <td class="tg-21yu"><b>PIDagogy</b>: How do you teach, learn, persuade, discuss, and improve adoption? What's it mean to build a pedagogy for PIDs?</td>
    <td class="tg-le8v"></td>
    <td class="tg-q9qv"><b>PID Sci</b>: They live in the lab.  They live in the field. Let's talk about practical applications of PIDs in the real-life research world.</td>
    <td class="tg-le8v"></td>
    <td class="tg-3w3u"><b>I-Word</b>: What would make PID systems "interoperate" optimally? Maybe just standardized link/relation types?</td>
    <td class="tg-le8v"></td>
    <td class="tg-nvd0"><b>Persistence</b>: Is open infrastructure the key to achieving persistence?  What are the frontiers of ‘persistence’? </td>
    <td class="tg-le8v"></td>
    <td class="tg-kwsa"><b>Org-ID</b>: There are tons of different approaches to organizational identifers. So they get their own track. </td>
    <td class="tg-le8v"></td>
  </tr>
</table>
</div>
	<br /> <br /> <br />

<h2 class="section-heading" align="center">
    Tuesday, 8th November
  </h2>

<div class="tg-wrap">
	<table class="tg" style="undefined;table-layout: fixed; width: 1140" align="center">
<colgroup>
<col style="width: 50px">
<col style="width: 50px">
<col style="width: 200px">
<col style="width: 30px">
<col style="width: 250px">
<col style="width: 30px">
<col style="width: 250px">
<col style="width: 30px">
<col style="width: 250px">
</colgroup>
  <tr>
    <th class="tg-ds4c">Start</th>
    <th class="tg-ds4c">End</th>
    <th class="tg-ds4c">Session</th>
    <th class="tg-ds4c"></th>
    <th class="tg-ds4c"></th>
    <th class="tg-ds4c"></th>
    <th class="tg-ds4c"></th>
    <th class="tg-ds4c"></th>
    <th class="tg-ds4c"></th>
  </tr>
  <tr>
    <td class="tg-le8v">18:00</td>
    <td class="tg-le8v">20:30</td>
    <td class="tg-le8v" colspan="7">Rehersal: meet-up and chill-out with fellow festival goers at <a href="http://bryggjanbrugghus.is/?lang=en">Bryggjan Brugghus Brewpub</a> (cash bar).</td>
  </tr>
</table>
</div>
<br /> <br /> <br />
<h2 class="section-heading" align="center" id="agenda-wed">
    Wednesday, 9th November
  </h2>


<style type="text/css">
.tg  {
	border-collapse:collapse;
	border-spacing:0;
}
.tg td{
	font-weight: normal;
	padding: 5px;
	border-style:solid;
	border-width: 1px;
	border-color: white;
	overflow:hidden;
	word-break:normal;
}
.tg th{
	font-weight: normal;
	padding: 5px;
	border-style:solid;
	border-width: 1px;
	overflow:hidden;
	word-break:normal;
}
.tg .tg-21yu{background-color:#f8ff00;vertical-align:top}
.tg .tg-ds4c{background-color:#000000;color:#ffffff;vertical-align:top}
.tg .tg-yvo5{background-color:#656565;vertical-align:top}
.tg .tg-le8v{background-color:#c0c0c0;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-u722{background-color:#34ff34;vertical-align:top}
.tg .tg-ufe5{background-color:#34cdf9;vertical-align:top}
.tg .tg-q9qv{background-color:#fe0000;vertical-align:top}
.tg .tg-3we0{background-color:#ffffff;vertical-align:top}

@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>

<div class="tg-wrap">
	<table class="tg" style="undefined;table-layout: fixed; width: 1140" align="center">
<colgroup>
<col style="width: 50px">
<col style="width: 50px">
<col style="width: 200px">
<col style="width: 30px">
<col style="width: 250px">
<col style="width: 30px">
<col style="width: 250px">
<col style="width: 30px">
<col style="width: 250px">
</colgroup>
  <tr>
    <th class="tg-ds4c">Start</th>
    <th class="tg-ds4c">End</th>
    <th class="tg-ds4c">Session</th>
    <th class="tg-ds4c"></th>
    <th class="tg-ds4c">Stage 1: Speaker and talk</th>
    <th class="tg-ds4c"></th>
    <th class="tg-ds4c">Stage 2: Speaker and talk</th>
    <th class="tg-ds4c"></th>
    <th class="tg-ds4c">Stage 3: Speaker and talk</th>
  </tr>
  <tr>
    <td class="tg-le8v">09:00</td>
    <td class="tg-le8v">09:30</td>
    <td class="tg-le8v" colspan="7">Coffee and registration - Box Office opens at 9:00</td>
  </tr>
  <tr>
    <td class="tg-le8v">09:30</td>
    <td class="tg-le8v">10:00</td>
    <td class="tg-le8v">Opening Act</td>
    <td class="tg-le8v"></td>
    <td class="tg-le8v" colspan="5">Lighting the eternal (persistent) flame</td>
  </tr>
  <tr>
    <td class="tg-yw4l">10:00</td>
    <td class="tg-yw4l">10:30</td>
    <td class="tg-yw4l" rowspan="2"></td>
    <td class="tg-u722"></td>
    <td class="tg-yw4l">Richard Wynne: Tales from PID Adoption</td>
    <td class="tg-ufe5"></td>
    <td class="tg-yw4l">Paul Jessop: Party Identification</td>
    <td class="tg-u722"></td>
    <td class="tg-yw4l">Daniel Meitchen: Making ethics data FAIR</td>

</tr>
  <tr>
    <td class="tg-yw4l">10:30</td>
    <td class="tg-yw4l">11:00</td>
    <td class="tg-kwsa"></td>
    <td class="tg-yw4l">Christopher Brown: Organisation IDs for UK research</td>
    <td class="tg-3w3u"></td>
    <td class="tg-yw4l">Christophe Blanchi: Multi-Stakeholder Global Handle Registry - Enabling Digital Sovereignty</td>
    <td class="tg-ufe5"></td>
    <td class="tg-yw4l">Martin Fenner: PIDs for Projects</td>
  </tr>

  <tr>
    <td class="tg-le8v">11:00</td>
    <td class="tg-le8v">11:30</td>
    <td class="tg-le8v" colspan="7">Posters Session - Break - Snack Bar opens at 11:00</td>
  </tr>
  <tr>
    <td class="tg-yw4l">11:30</td>
    <td class="tg-yw4l">12:00</td>
   <td class="tg-yw4l" rowspan="2"></td>
    <td class="tg-3w3u"></td>
    <td class="tg-yw4l">Melissa Haendel: Prefix Commons</td>
    <td class="tg-u722"></td>
    <td class="tg-yw4l">Cory Craig: ORCID &amp; Hyper-authored Articles</td>
    <td class="tg-nvd0"></td>
    <td class="tg-yw4l">Tim Clark: Assign locally, resolve globally: prefix-based collection access</td>
  </tr>
  <tr>
    <td class="tg-yw4l">12:00</td>
    <td class="tg-yw4l">12:30</td>
    <td class="tg-21yu"></td>
    <td class="tg-yw4l">Trisha Adamus: ORCID Promotion in a University Setting</td>
    <td class="tg-q9qv"></td>
    <td class="tg-yw4l">Markus Stocker: Persistent Identification of Instruments</td>
    <td class="tg-3w3u"></td>
    <td class="tg-yw4l">Arthur Smith: Wikidata and Persistent Identifiers</td>

  </tr>
  <tr>
    <td class="tg-le8v">12:30</td>
    <td class="tg-le8v">13:15</td>
    <td class="tg-le8v" colspan="7">Lunch - Concession Stand opens at 12:30</td>
  </tr>
  <tr>
    <td class="tg-le8v">13:15</td>
    <td class="tg-le8v">14:00</td>
    <td class="tg-le8v">Main Stage Plenary</td>
    <td class="tg-le8v"></td>
    <td class="tg-le8v" colspan="5">Jonathan Clark: PIDvasive - What’s possible when everything has a persistent identifier?</td>
  </tr>
  <tr>
    <td class="tg-yw4l">14:00</td>
    <td class="tg-yw4l">14:30</td>
    <td class="tg-yw4l" rowspan="2"></td>
    <td class="tg-21yu" rowspan="2"></td>
    <td class="tg-yw4l" rowspan="2">Ginny Hendricks, Alice Meadows, Laura Rueda: Persistent Identifiers 101 – Developing a PIDriculum (full hour)</td>
    <td class="tg-q9qv" rowspan="2"></td>
    <td class="tg-yw4l" rowspan="2">Cynthia L. Chandler, Adam Shepherd, Robert Arko: Persistent Identifiers and Linked Ocean Data (full hour)</td>
    <td class="tg-u722" rowspan="2"></td>
    <td class="tg-yw4l" rowspan="2">Susan White-DePace, Michael Hofmockel: Two part discussion on Society for Science at User Research Facilities (SSURF) and Driving Data Sharing among Large R&amp;D Organizations (full hour)</td>
  </tr>
  <tr>
    <td class="tg-yw4l">14:30</td>
    <td class="tg-yw4l">15:00</td>
  </tr>
  <tr>
    <td class="tg-le8v">15:00</td>
    <td class="tg-le8v">15:30</td>
    <td class="tg-le8v" colspan="7">Posters Session - Break - Snack Bar opens at 15:00</td>
   </tr>
  <tr>
    <td class="tg-yw4l">15:30</td>
    <td class="tg-yw4l">16:00</td>
    <td class="tg-yw4l" rowspan="2"></td>
    <td class="tg-u722"></td>
    <td class="tg-yw4l">Joe Wass: What happens when PIDs aren't there: Stories from Crossref Event Data</td>
    <td class="tg-ufe5"></td>
    <td class="tg-yw4l">Max Ogden: Public key cryptography</td>
    <td class="tg-kwsa"></td>
    <td class="tg-yw4l">Daniel Goroff: Identifying Legal Entities</td>
  </tr>
  <tr>
    <td class="tg-yw4l">16:00</td>
    <td class="tg-yw4l">16:30</td>
    <td class="tg-21yu"></td>
    <td class="tg-yw4l">Maaike Duine: PID use and the human perspective</td>
    <td class="tg-q9qv"></td>
    <td class="tg-yw4l">Manfred Kohler: Frequency and Variability</td>
    <td class="tg-q9qv"></td>
    <td class="tg-yw4l">Kerstin Lehnert: Let's get physical: PIDs for Samples &amp; Collections</td>
  </tr>
  <tr>
    <td class="tg-le8v">16:30</td>
    <td class="tg-le8v">17:15</td>
    <td class="tg-le8v">Main Stage Plenary</td>
    <td class="tg-le8v"></td>
    <td class="tg-le8v" colspan="5">Simon Porter: Exploring the relationship between persistent identifiers and research information citizenship</td>
  </tr>
  <tr>
    <td class="tg-3we0">17:15</td>
    <td class="tg-3we0">17:30</td>
    <td class="tg-3we0" colspan="7">Encore - Closing Remarks - ain't no party like a persistent party, cuz a persistent party don't stop</td>
  </tr>
  <tr>
    <td class="tg-le8v">17:30</td>
    <td class="tg-le8v">19:00</td>
    <td class="tg-le8v" colspan="7">Afterparty in the hotel lobby. Please don't break anything.</td>
  </tr>
</table>
</div>


	<br /> <br /> <br />
  <h2 class="section-heading" align="center" id="agenda-thurs">
		Thursday, 10th November
	</h2>

<style type="text/css">
.tg .tg-nvd0{background-color:#f8a102;vertical-align:top}
.tg .tg-ds4c{background-color:#000000;color:#ffffff;vertical-align:top}
.tg .tg-yvo5{background-color:#656565;vertical-align:top}
.tg .tg-le8v{background-color:#c0c0c0;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-3w3u{background-color:#2db0b4;vertical-align:top}
.tg .tg-kwsa{background-color:#8f87d9;vertical-align:top}
.tg .tg-u722{background-color:#34ff34;vertical-align:top}
</style>




<div class="tg-wrap">

<table class="tg" style="undefined;table-layout: fixed; width: 1140" align="center">
<colgroup>
<col style="width: 50px">
<col style="width: 50px">
<col style="width: 200px">
<col style="width: 30px">
<col style="width: 250px">
<col style="width: 30px">
<col style="width: 250px">
<col style="width: 30px">
<col style="width: 250px">
</colgroup>
  <tr>
    <th class="tg-ds4c">Start</th>
    <th class="tg-ds4c">End</th>
    <th class="tg-ds4c">Session</th>
    <th class="tg-ds4c"></th>
    <th class="tg-ds4c">Stage 1: Speaker and talk</th>
    <th class="tg-ds4c"></th>
    <th class="tg-ds4c">Stage 2: Speaker and talk</th>
    <th class="tg-ds4c"></th>
    <th class="tg-ds4c">Stage 3: Speaker and talk</th>
  </tr>
  <tr>
    <td class="tg-le8v">09:00</td>
    <td class="tg-le8v">09:30</td>
    <td class="tg-le8v" colspan="7">Coffee and registration - Box Office opens at 9:00</td>
  </tr>
  <tr>
    <td class="tg-yw4l">09:30</td>
    <td class="tg-yw4l">09:45</td>
    <td class="tg-yw4l">Opening Act</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l" colspan="5">Welcome Back</td>
  </tr>
  <tr>
    <td class="tg-le8v">09:45</td>
    <td class="tg-le8v">10:30</td>
    <td class="tg-le8v">Main Stage Plenary</td>
    <td class="tg-le8v"></td>
    <td class="tg-le8v" colspan="5">Clifford Tatum: Demand for Research Information</td>
  </tr>
  <tr>
    <td class="tg-yw4l">10:30</td>
    <td class="tg-yw4l">11:00</td>
    <td class="tg-yw4l" rowspan="3"></td>
    <td class="tg-3w3u"></td>
    <td class="tg-yw4l">Ulrich Schwardmann: PID Information Types will leverage Interoperability between PID systems</td>
    <td class="tg-nvd0"></td>
    <td class="tg-yw4l">John Kunze: What do we mean?</td>
    <td class="tg-3w3u"></td>
    <td class="tg-yw4l">Salvatore Mele: Challenges of Measuring PID Adoption</td>
  </tr>
  <tr>
    <td class="tg-yw4l">11:00</td>
    <td class="tg-yw4l">11:30</td>
    <td class="tg-u722"></td>
    <td class="tg-yw4l">Mieneke van der Salm: Digital Author Identifier</td>
    <td class="tg-ufe5"></td>
    <td class="tg-yw4l">Stephanie Simms: PIDs for Machine-Actionable DMPs</td>
     <td class="tg-ufe5"></td>
    <td class="tg-yw4l">Tom Gillespie: Scientific Protocols</td>
  </tr>
 <tr>
    <td class="tg-yw4l">11:30</td>
    <td class="tg-yw4l">12:00</td>
    <td class="tg-3w3u"></td>
    <td class="tg-yw4l">Ted Lawless: Publications and ORCIDs</td>
    <td class="tg-nvd0"></td>
    <td class="tg-yw4l">Xinjian Guo: Yale Persistent Linking Service Using Handles</td>
    <td class="tg-kwsa"></td>
    <td class="tg-yw4l">Arthur Smith: Organisation Identifiers - APS experience</td>
  </tr>
  <tr>
    <td class="tg-le8v">12:00</td>
    <td class="tg-le8v">12:45</td>
    <td class="tg-le8v" colspan="7">Lunch - Concession Stand opens at 12:00</td>
  </tr>
   <tr>
    <td class="tg-le8v">12:45</td>
    <td class="tg-le8v">13:30</td>
    <td class="tg-le8v">Plenary - Main Stage</td>
    <td class="tg-le8v"></td>
    <td class="tg-le8v" colspan="5">Herbert Van de Sompel: Signposting for Persistent Identifiers</td>
  </tr>
   <tr>
    <td class="tg-yw4l">13:30</td>
    <td class="tg-yw4l">14:00</td>
    <td class="tg-yw4l" rowspan="3"></td>
    <td class="tg-u722"></td>
    <td class="tg-yw4l">Najko Jahn: Using DOIs to assess institutional support for OA fees</td>
    <td class="tg-nvd0"></td>
    <td class="tg-yw4l">Lambert Heller: Blockchain</td>
    <td class="tg-u722"></td>
    <td class="tg-yw4l">Paul Vierkant: Identifiers on the rise in Germany</td>
  </tr>
  <tr>
    <td class="tg-yw4l">14:00</td>
    <td class="tg-yw4l">14:30</td>
    <td class="tg-kwsa" rowspan="2"></td>
    <td class="tg-yw4l" rowspan="2">Crossref, DataCite, ORCID and ORG IDS (full hour)</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">Pending</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">Pending</td>
  </tr>
 <tr>
    <td class="tg-yw4l">14:30</td>
    <td class="tg-yw4l">15:00</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">Pending</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">Pending</td>
 </tr>

  <tr>
    <td class="tg-le8v">15:00</td>
    <td class="tg-le8v">15:30</td>
    <td class="tg-le8v" colspan="7">Break - Snack Bar opens at 15:00</td>
  </tr>

  <tr>
    <td class="tg-le8v">15:30</td>
    <td class="tg-le8v">16:15</td>
    <td class="tg-le8v">Plenary - Main Stage</td>
    <td class="tg-le8v"></td>
    <td class="tg-le8v" colspan="5">Carly Strasser: Reaching Nirvana. The Future of Identifiers</td>
  </tr>
 <tr>
    <td class="tg-3we0">16:15</td>
    <td class="tg-3we0">16:30</td>
    <td class="tg-3we0" colspan="7">Mike Drop - Closing Remarks - you don't have to go home, but you can't stay here</td>
  </tr>
</table>
</div>
</section>

<!-- -------------------------- AGENDA -------------------------------- -->

<section class="bg-primary">
<div class="container">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2 class="section-heading">
			  Festival Lineup
			</h2>
			<br /><br />
		</div>
	</div>

  <div class="row text-center">

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#10"><img src="images/speakers/adam_shepherd.jpg" alt="as"></a>
        <div class="caption">
          <h3>Adam Shepherd</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#17"><img src="images/speakers/alice_meadows.jpg" alt="am"></a>
        <div class="caption">
          <h3>Alice Meadows</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#38"><img src="images/speakers/andres_mori.jpg" alt="am"></a>
        <div class="caption">
          <h3>Andres Mori</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#32"><img src="images/speakers/arthur_smith.jpg" alt="as"></a>
        <div class="caption">
          <h3>Arthur Smith</h3>
        </div>
      </div>
    </div>

  </div>
  <div class="row text-center">

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#33"><img src="images/speakers/christophe_blanchi.jpg" alt="cb"></a>
        <div class="caption">
          <h3>Christophe Blanchi</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#37"><img src="images/speakers/christopher_brown.jpg" alt="cb"></a>
        <div class="caption">
          <h3>Christopher Brown</h3>
        </div>
      </div>
    </div>

	    <div class="col-md-3">
	      <div class="thumbnail">
	        <a href="#29"><img src="images/speakers/cory_craig.jpg" alt="cc"></a>
	        <div class="caption">
	          <h3>Cory Craig</h3>
	        </div>
	      </div>
	    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#10"><img src="images/speakers/cynthia_chandler.jpg" alt="cc"></a>
        <div class="caption">
          <h3>Cynthia L. Chandler</h3>
        </div>
      </div>
    </div>

  </div>
  <div class="row text-center">

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#101"><img src="images/speakers/daniel_goroff.jpg" alt="dg"></a>
        <div class="caption">
          <h3>Daniel Goroff</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#7"><img src="images/speakers/daniel_mietchen.jpg" alt="dm"></a>
        <div class="caption">
          <h3>Daniel Mietchen</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#9"><img src="images/speakers/joe_wass.jpg" alt="jw"></a>
        <div class="caption">
          <h3>Joe Wass</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#28"><img src="images/speakers/john_kunze.jpg" alt="jk"></a>
        <div class="caption">
          <h3>John Kunze</h3>
        </div>
      </div>
    </div>

  </div>
  <div class="row text-center">

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#20"><img src="images/speakers/kerstin_lehnert.jpg" alt="kl"></a>
        <div class="caption">
          <h3>Kerstin Lehnert</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#31"><img src="images/speakers/lambert_heller.jpg" alt="lh"></a>
        <div class="caption">
          <h3>Lambert Heller</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#17"><img src="images/speakers/laura_rueda.jpg" alt="lr"></a>
        <div class="caption">
          <h3>Laura Rueda</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#19"><img src="images/speakers/maaike_duine.jpg" alt="md"></a>
        <div class="caption">
          <h3>Maaike Duine</h3>
        </div>
      </div>
    </div>

  </div>
  <div class="row text-center">

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#36"><img src="images/speakers/michael_hofmockel.jpg" alt="mh"></a>
        <div class="caption">
          <h3>Michael Hofmockel</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#100"><img src="images/speakers/mieneke_van_der_salm.jpg" alt="mvds"></a>
        <div class="caption">
          <h3>Mieneke van der Salm</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#23"><img src="images/speakers/manfred_kohler.jpg" alt="mk"></a>
        <div class="caption">
          <h3>Manfred Kohler</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#22"><img src="images/speakers/markus_stocker.jpg" alt="ms"></a>
        <div class="caption">
          <h3>Markus Stocker</h3>
        </div>
      </div>
    </div>

  </div>
  <div class="row text-center">

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#13"><img src="images/speakers/martin_fenner.jpg" alt="mf"></a>
        <div class="caption">
          <h3>Martin Fenner</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#15"><img src="images/speakers/max_ogden.jpg" alt="mo"></a>
        <div class="caption">
          <h3>Max Ogden</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#25"><img src="images/speakers/melissa_haendel.jpg" alt="mh"></a>
        <div class="caption">
          <h3>Melissa Haendel</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#27"><img src="images/speakers/najko_jhan.jpg" alt="nj"></a>
        <div class="caption">
          <h3>Najko Jahn</h3>
        </div>
      </div>
    </div>

  </div>
  <div class="row text-center">

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#11"><img src="images/speakers/paul_jessop.jpg" alt="pj"></a>
        <div class="caption">
          <h3>Paul Jessop</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#35"><img src="images/speakers/paul_vierkant.jpg" alt="pv"></a>
        <div class="caption">
          <h3>Paul Vierkant</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#5"><img src="images/speakers/richard_wynne.jpg" alt="rw"></a>
        <div class="caption">
          <h3>Richard Wynne</h3>
        </div>
      </div>
    </div>
		
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#10"><img src="images/speakers/robert_arko.jpg" alt="ra"></a>
        <div class="caption">
          <h3>Robert Arko</h3>
        </div>
      </div>
    </div>

  </div>
  <div class="row text-center">

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#34"><img src="images/speakers/salvatore_mele.jpg" alt="sm"></a>
        <div class="caption">
          <h3>Salvatore Mele</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#14"><img src="images/speakers/steph_simms.jpg" alt="ss"></a>
        <div class="caption">
          <h3>Stephanie Simms</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#36"><img src="images/speakers/missing.jpg" alt=""></a>
        <div class="caption">
          <h3>Susan White-DePace</h3>
        </div>
      </div>
    </div>
		
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#26"><img src="images/speakers/ted_lawless.jpg" alt="tl"></a>
        <div class="caption">
          <h3>Ted Lawless</h3>
        </div>
      </div>
    </div>

  </div>
  <div class="row text-center">

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#102"><img src="images/speakers/tim_clark.jpg" alt=""></a>
        <div class="caption">
          <h3>Tim Clark</h3>
        </div>
      </div>
    </div>


  <div class="col-md-3">
      <div class="thumbnail">
        <a href="#16"><img src="images/speakers/tom_gillespie.jpg" alt="tg"></a>
        <div class="caption">
          <h3>Tom Gillespie</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#18"><img src="images/speakers/trisha_adamus.jpg" alt="ta"></a>
        <div class="caption">
          <h3>Trisha Adamus</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#24"><img src="images/speakers/ulrich_schwardmann.jpg" alt="us"></a>
        <div class="caption">
          <h3>Ulrich Schwardmann</h3>
        </div>
      </div>
    </div>


  </div>
  <div class="row text-center">

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#30"><img src="images/speakers/xinjian_guo.jpg" alt="xg"></a>
        <div class="caption">
          <h3>Xinjian Guo</h3>
        </div>
      </div>
    </div>

  </div>

</div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
       	<br /><br /><br /><br />

	      <h2 class="section-heading">
				Main Stage: Plenary Session Details
				</h2>
				<br /><br />
				<h3 id="1">PIDvasive - what’s possible when everything has a persistent identifier?</h3>
				<h4>Jonathan Clark - International DOI Foundation</h4>
				<p>
Day 1 Plenary Session: Knowing what’s what and who’s is an old problem. Thankfully we have made huge progress and many communities have now understood and agreed persistent identifier standards. But what would a future look like if everything has an identifier? How will I know that I can trust the information? How can I know how persistent an identifier really is? And what about the object it describes, how persistent is that? What if that object is physical and not digital? How will my machine know all this? What if digital objects can roam freely, and can self-describe and interact automagically? 
<p></p>
<p>This session on the future will attempt to predict the unpredictable and imagine the unimaginable. And maybe, just maybe we might discover that this future is closer than we might think.

				</p>

				<hr class="primary">
				<h3 id="2">Exploring the relationship between persistent identifiers and research information citizenship</h3>
				<h4>Simon Porter - Digital Science</h4>
				<p>
Day 1 Plenary Session: To attach a persistent identifier to a representation of a person, Organisation  or research object is to provide that representation a way to travel across research systems and Organizational boundaries. The background infrastructure required for this to happen is as much social as it is technical.  This presentation will attempt to unpack the social element of this infrastructure through the concept of research information citizenship. As research information citizens, what are our obligations to the research data that we consume, create and communicate? Particular focus will be on unpacking the use of ORCID and GRID identifiers in terms of trust, roles and responsibilities within the research community.
				</p>

				<hr class="primary">
				<h3 id="3">Demand for Research Information</h3>
				<h4>Clifford Tatum - CWTS, Leiden University</h4>
				<p>
Day 2 Plenary Session:
The increased adoption of PIDs in the academic enterprise coincides with increasing demand for Research Information (RI) for management and administration of research. Collection and analysis of RI often occurs at the level institution (e.g. with the use of CRIS systems), where public information about research output is linked to private information related to financial and human resources. This creates an interoperability dilemma, whereby increased expectations for open science are in conflict with privacy and security concerns for certain kinds of data (personal details about staff and data gathered from human subjects, for example). The proliferation of PIDs presents an opportunity to establish a thin layer of interoperability that facilitates the exchange PIDs independent of the associated content. If PIDs serve as a standard medium of exchange in a layered information architecture, authentication functions that provide access to the content associated with PIDs (e.g. author details, research dataset, publication text) could operate in outer layers. Conceptually, this is similar the layered network architecture underpinning the Internet. A thin layer for exchanging PIDs would  maximize interoperability while minimizing interfaces. Stabilizing a PID layer allows for pushing innovation to outer layers. Competition for applications would depend on, but not disrupt the PID layer. The objective would be to enable operation of local solutions, that utilize global infrastructures, without disruption to interoperability across different research information systems. 				</p>


				<hr class="primary">
				<h3 id="3">Signposting pattern for PIDs</h3>
				<h4>Herbert Van de Sompel - Los Alamos National Laboratory</h4>
				<p>
Day 2 Plenary Session:
PIDs need to be used to achieve their intended persistence. Our research found that a disturbing percentage of references to papers that have DOIs actually use the landing page HTTP URI instead of the DOI HTTP URI. It can safely be assumed that the same problem exists for other types of PIDs. The net result is that the true potential of PIDs is not realized. In order to ameliorate this problem we propose to convey the PID in the HTTP Link response header of all resources identified by the PID, including the landing page and content resources such as "the PDF" and "the dataset". This allows tools, such as citation managers, to auto-discover and use the PID. Similarly, the HTTP Link header can be used to allow tools to auto-discover, from the landing page, which resources are part of a PID-identified object. These and other uses of the HTTP Link header to achieve a coarse yet meaningful level of interoperability in the scholarly communication system are promoted by the “Signposting the Scholarly Web” effort, <a href="http://signposting.org">http://signposting.org</a>.
				</p>

				<hr class="primary">
				<h3 id="4">Reaching Nirvana: The Future of Identifiers</h3>
				<h4>Carly Strasser - Gordon and Betty Moore Foundation</h4>
				<p>
Day 2 Plenary Session:
After crowd surfing through two days of acts, I will present PIDapalooza's "Greatest Hits" of takeaways, lessons learned, points for discussion, and new directions. Put your hands up for plenty of music puns woven into aspirational ideas for the future of identifiers.
				</p>

	      <hr class="primary" /><br /><br />
        <h2 class="section-heading">
				PID Stories - Session Details
				</h2>
<br /><br />
				<hr class="primary">
				<h3 id="36">SSURF</h3>
				<h4>Susan White-DePace, Michael Hofmockel</h4>
				<p>The Society for Science at User Research Facilities (SSURF) is a non-profit organization representing scientific user facilities across the United States and abroad. SSURF seeks to help steward the resolution of our technical challenges, security concerns, conflicting policies and identity management challenges that currently blocks us from working together. The resolution of these blockers will clear the way for these research facilities to do more by sharing in the creation of the many common wheels they all need. A comprehensive robust open Identity management system is the root of the matter.
				</p>
				
				<hr class="primary">
				<h3 id="100">From DAI to ORCID: Implementation and beyond in Leiden</h3>
				<h4>Mieneke van der Salm</h4>
				<p>
In the Netherlands, there is a relatively long history of working with author identifiers. Since 2008, virtually all researchers affiliated with a Dutch university have been assigned a so-called DAI, a Digital Author Identifier. As the DAI system was custom-built for a Dutch situation, many universities in the Netherlands are currently in the process of implementing the more international ORCID system. With the aid of SURF, five Dutch universities have collectively become members of the ORCID organisation through a national consortium. 
</p>	<p>
At Leiden University, one of the institutions in this consortium, the implementation of the ORCID system is a central activity within a much broader programme which will ultimately lead to the ability to present the scholarly output of all of our researchers in a broader context. When publications, data sets, funding programmes and researchers can all be identified unambiguously via PIDs, it becomes possible to visualise the many connections that exist between these objects and these people, and to provide a more complete and more coherent overview of the results of research projects.
				

	      <hr class="primary" />
	      <h3 id="35">Identifiers on the rise in Germany</h3>
				<h4>Paul Vierkant</h4>
				<p>
					Identifiers on the rise in Germany shall treat the current development of identifiers in Germany's research landscape. Introducing ORCID in Germany's Universities and research organizations finds a lot of interest and a quick uptake. The talks illustrates also the challenges for personal identifiers taking especially German history into account. Within the talk I will present the latest results from a study on the usage and spread of ORCID in academic institutions in Germany in the course of the <a href="http://www.orcid-de.org">ORCID DE project</a>. The presentation will also touch upon the discussion about of the recently presented ""Kerndatensatz Forschung"" (Research Core Dataset) recommended by the German Council of Science and Humanities aiming to gather coherent information about research activities also using authority files such as ORCID, DOI and organization identifiers (<a href="http://www.forschungsinfo.de/kerndatensatz/en/index.php?home">http://www.forschungsinfo.de/kerndatensatz/en/index.php?home</a>). 
				</p>

				<hr class="primary">

			      <h3 id="5">Tales from the PID Adoption Frontier</h3>
				<h4>Richard Wynne</h4>
				<p>One of the services performed by Scholarly journal publishers is to transform unstructured author manuscripts (usually prepared in Word format) into structured content with valid PIDs. How does this happen? The Editorial Manager submission system contains more than a million author records with validated ORCIDs and supports emerging standards such as CRediT and Open Funder Registry. This presentation tells the story of real world technical and operational challenges associated with collecting and using PIDs. We’ll explore the good, the bad and the ugly and talk about new frontiers.
				</p>

				<hr class="primary">
				<h3 id="7">Making ethics data FAIR</h3>
				<h4>Daniel Mietchen</h4>
				<p>
					So far, most of the ecosystem of ethical review of past, present and future research is basically hidden. This secrecy is a barrier to communicating ethical aspects of research, establishing best practices and standards, and educating researchers and the public about this topic. Not surprisingly, it has thus been suggested to "[m]ake all documentation around ethical approval and consent freely available" (<a href="https://doi.org/10.1136/bmj.i4626">https://doi.org/10.1136/bmj.i4626</a>), which is where persistent (and preferably unique) identifers come in handy.
				</p>
				<p>
					Assigning PIDs to important components of the ethical review process (e.g. <a href="https://en.wikipedia.org/wiki/Institutional_review_board">IRB</a> or other ethics committee, review requests, reviews, IRB decisions) and making that information accessible to humans and machines could pave the way for ethical aspects of research to be included more prominently in research communication. For research data, the FAIR principles (<a href="http://doi.org/10.1038/sdata.2016.18">http://doi.org/10.1038/sdata.2016.18</a>) have been established to ensure that data are Findable, Accessible, Interoperable and Reusable.
				</p>

				<hr class="primary">
				<h3 id="8">Digital Author Identifier</h3>
				<h4>Peter Verhaar</h4>
				<p>
					In the Netherlands, there is a relatively long history of working with author identifiers. Since 2005, virtually all researchers affiliated with a Dutch university have been assigned a so-called DAI, a Digital Author Identifier. As the DAI system was custom-built for a Dutch situation, many universities in the Netherlands are currently in the process of implementing the more international ORCID system. With the aid of SURF, five Dutch universities have collectively become members of the ORCID organisation through a national consortium. At Leiden University, one of the institutions in this consortium, the implementation of the ORCID system is a central activity within a much broader programme which will ultimately lead to the ability to present the scholarly output of all of our researchers in a broader context. When publications, data sets, funding programmes and researchers can all be identified unambiguously via PIDs, it becomes possible to visualise the many connections that exist between these entities and to provide a more complete and more coherent overview of the results of research projects.
				</p>

				<hr class="primary">
				<h3 id="9">What happens when PIDs aren't there: Stories from Crossref Event Data</h3>
				<h4>Joe Wass</h4>
				<p>
Crossref Event Data (CED) tracks the use of scholarly publications across the web. We use PIDs to reference publications. In some places, like Wikipedia, PIDs are a commonplace sight. But in places like Twitter and Facebook, they are few and far between. CED looks for article landing pages and tries to convert them back into PIDs. How do we track publications on platforms that don't encourage the use of PIDs? Hear examples, methods, success and horror stories as well as our plans for CED.
				</p>

				<hr class="primary">
				<h3 id="10">Marine ecosystem science and identifiers</h3>
				<h4>Cynthia Chandler</h4>
				<p>Marine ecosystem science requires access to a wide variety of data.  Research topics include investigation of complex food webs, sustainable fisheries science, coastal and marine ecosystem studies that contribute to better informed management decisions, and climate change vulnerability and potential mitigation. Such research requires access to data from the natural, social and economic sciences and often large distributed teams of investigators with expertise in a broad range of disciplines.
				</p>
				<p>
As data are made more freely available and discoverable on the Web, it is likely that data are being used and re-used far from their point of origin.  That distance defined in time, space and research domain increases the need for robust metadata (e.g. structured documentation) to provide proper context for the data.  A group of complementary marine research data repositories in the USA have been integrating use of Persistent Identifiers (PIDs) into their metadata catalogs.  Use of Open Researcher and Contributor ID (ORCiD) and Digital Object Identifiers (DOIs) have shown great potential to disambiguate persons and research objects respectively.  In addition Open Funder Registry (FundRef) codes are used to identify funding sources, and International Geo Sample Numbers (IGSNs) help to track the provenance of physical samples.  The PIDs are integrated into the metadata records of the repository catalogs, published out as Linked Open Data and enhanced with semantic markup to provide additional, critical context for improved discovery of resources of interest.  In this session we propose to review progress made thus far, reflecting on what has worked or failed, and thoughts on logical next steps.  Use of PIDs has resulted in the ability to validate metadata records by comparing the contents with trusted, authoritative sources.  The PIDs also serve as reliable facts in Linked Open Data resources that can be connected with related research results, e.g. published data sets with literature publications.
				</p>

	     <hr class="primary" /><br /><br />

        <h2 class="section-heading">
				  Emerging PIDs - Session Details
				</h2>

				<br /><br />
				<h3 id="11">Party Identification</h3>
				<h4>Paul Jessop</h4>
				<p>
					Party identification seems to be an idea whose time has come. ORCID is the currency of scholarly publishing. ISNI is gaining traction in the entertainment industry and in memory institutions. But there is a myriad of proprietary schemes surrounding these industry standards. This session will explore new use cases for party identification (such as in the visual arts), the need for interoperability between standard schemes and the role of proprietary systems (and the ability of standard identifiers to bridge between them).
				</p>

				<hr class="primary">
				<h3 id="13">PID for Projects</h3>
				<h4>Martin Fenner - DataCite</h4>
				<p>Projects are a very common of scientific collaboration, but we currently have no established way to describe them with persistent identifiers. In this presentation we will propose ways to use existing PID systems to better describe projects, including the description of all project members and the collection of all project outputs.
				</p>

				<hr class="primary">
				<h3 id="14">PIDs for Machine-Actionable DMPs</h3>
				<h4>Stephanie Simms</h4>
				<p>Data management plans (DMPs) are now an integral part of good research practice, yet most of their potential remains locked up in static text files. By repositioning DMPs as dynamic, machine-actionable inventories of digital research outputs, people, organizations, funders, etc., they could provide greater benefits to all stakeholders. Persistent identifiers are a key ingredient in the transition to machine-actionable DMPs, enabling information to be passed across existing workflows and systems to plan resources, connect outputs, and automate reporting and monitoring.

				</p>

				<hr class="primary">
				<h3 id="15">Public key cryptography</h3>
				<h4>Max Ogden</h4>
				<p>In the Dat project we want to be able to use identifiers to find duplicate copies of datasets around the world to increase download speeds. By taking the hash of the content of the data, and signing it with the public key of the user who published it, and using these as the basis for our dataset identifiers, we are able to verify identity of authorship as well as integrity of data. In this talk we will discuss the pros and cons of our identifier scheme, how we hope to standardize them, and what centralized vs decentralized infrastructure is required to make a system like this usable to the average user.
				</p>

				<hr class="primary">
				<h3 id="16">PIDs for Scientific Protocols</h3>
				<h4>Tom Gillespie</h4>
				<p>Research protocols represent the complex 4-dimensional processes that are the heart of experimental science. Protocols are the substrate for critical evaluation of scientific data, yet their current representation in the digital world is in desperate need of modernization. Many different groups have recognized this and various new digital representations for protocols are starting to emerge. This panel will focus on challenges that a system for identifying scientific protocols must address. Some of the issues include the conflation of PID metadata with data that should be in the artifact (related to citation vs accession), and achieving representation agnostic identification. In addition, some of the important questions for discussion include: when do we issue a new protocol identifier? Who inputs metadata? Who can update metadata? And, why not DOIs?
				</p>

	     <hr class="primary" /><br /><br />

        <h2 class="section-heading">
				  PIDagogy - Session Details
				</h2>


				<br /><br />
				<h3 id="17">Persistent Identifiers 101 – Developing a PIDriculum</h3>
				<h4>Ginny Hendricks, Alice Meadows, Laura Rueda</h4>
				<p>In this interactive session we will develop ideas for a set of educational resources on persistent identifiers. These resources could be used by anyone who wants to learn about PIDs themselves or who is responsible for teaching others about them.  After a brief introduction, attendees will be divided into groups to brainstorm and plan what should be included in different types of resources (a video, a quiz, an infographic, and more) and who and will develop them. Help us devise the best tools possible for transforming New PIDs on the Block into PIDlates Instructors!
				</p>

				<hr class="primary">
				<h3 id="18">Utilization of ORCIDs</h3>
				<h4>Trisha Adamus</h4>
				<p>This session will focus on the evolution of the ORCID campaign on the University of Wisconsin-Madison campus and share the lessons learned during a pilot project with the School of Nursing. This ongoing pilot project includes the development and implementation of promotional materials, hands on instructional sessions and pilot assessment. The pilot will be used to inform campaign expansion for the entire School of Nursing and subsequently the University of Wisconsin-Madison. 
				</p>

				<hr class="primary">
				<h3 id="19">PID use and the human perspective</h3>
				<h4>Maaike Duine</h4>
				<p>Our presentation focuses on how to encourage PID use from a human perspective. THOR – an EU project funded under the Horizon 2020 programme – endeavours to overcome the cultural barriers to PID adoption by organising training activities for a wide range of stakeholders. Our ambassador network is critical to achieving this goal. In our talk, a representative from THOR and one of our ambassadors will discuss the benefits of tapping into their disciplinary network to promote the use of PIDs in a way that is tailored to a specific research community. What kind of training and materials work best? How can you ensure people will see the benefits and continue to use PIDs? The session will end with sharing best practices and an interactive discussion on how to integrate PIDagogy in the Research Data Science Curriculum.
				</p>

	     <hr class="primary" /><br /><br />

        <h2 class="section-heading">
				  PID Sci - Session Details
				</h2>

				<br /><br />
				<h3 id="20">Physical samples</h3>
				<h4>Kerstin Lehnert</h4>
				<p>The use of persistent, resolvable identifiers for physical samples and collections ensures unambiguous citation of these samples to a) give credit for their acquisition or production and curation; b) link to digital metadata that describe the sample and where the sample can be accessed (sample repositories); c) link to data generated by the study of the samples; and d) link and integrate data acquired throughout the analytical history of a sample. The International Geo Sample Number is an example for a sample and collection PID with rapidly growing adoption in the Earth Sciences. Other science domains or commercial fields use different PIDs for their samples. This session invites participants, who are interested to learn about the application, architecture, and governance of the IGSN system, and who will engage in a discussion to coordinate and align different PID systems that are in use or considered for samples and sample collections.
				</p>

				<hr class="primary">
				<h3 id="22">Instruments</h3>
				<h4>Markus Stocker</h4>
				<p>This talk attempts to make a case for persistent identifiers for instruments and instrument deployments. Preserving data about instruments and instrument deployments, such as sensing devices used in environmental monitoring, arguably increases the fitness of observation data for reuse. In fact, granular data about instruments and their deployments support researchers in their decision for whether or not observation data collected in deployments are fit for reuse in scientific investigations. For instance, studies may have more or less stringent requirements on reliability of measurement or may require deployment locations within a certain region. In traditional data publications, data about instruments and their deployments are represented as metadata about collected observation data. This representation can be challenged with an alternative one that represents observation data and instrument deployment data as distinct information objects. The alternative representation could drive interesting and potentially important future developments. First, it underscores the possibility of persistent identification of instrument deployment data - akin to, but distinct from, persistent identification of observation data. Second, the community may decide to specify required and desired sets of attributes about instruments and instrument deployments. Such specification could increase the contextual information available to researchers. Third, new resources may be developed that specialize on preserving instrument and instrument deployment data, and on resolving requests for such data.
				</p>

				<hr class="primary">
				<h3 id="23">Frequency and Variability</h3>
				<h4>Manfred Kohler</h4>
				<p>In life sciences, a high number of experiments produces a lot of small data sets. This high frequency combined with a huge variability of experiments demand a high workload on documentation. But, as expected, the quality of documentation is low. Thus we propose a more simplified way to create useful descriptions of experimental work by using predefines templates accessible via PIDs. The templates itself can be used to create a graph database showing the hierarchical structure of experimental conditions, useful for finding the correct experimental template as well as for correct analytical combinations of experimental work based on semantic information across different research areas. The intended method could be used for new as well as for existing experiments. The presentation should be used as a starter for a community based discussion.
				</p>


	     <hr class="primary" /><br /><br />

        <h2 class="section-heading">
				  I-Word - Session Details
				</h2>

				<br /><br />
				<h3 id="34">Challenges of Measuring PID Adoption</h3>
				<h4>Salvatore Mele</h4>
				<p>The EC-funded THOR project (http://project-thor.eu) aims to improve the interoperability of PIDs for researchers and data. To assess project progress and prepare for a sustainable future, THOR built an evaluation component into the project. But in order to have a meaningful evaluation, you must have something to measure and you must know how to measure it effectively. In the nascent field of PID interoperability, which information is missing? What do we not know (yet)? And what steps can we take to know the unknowable? This presentation will outline the challenges of measuring PID adoption that were encountered in the process of evaluating the THOR project alongside its continued evolution.
				</p>

				<hr class="primary">
				<h3 id="24">PID Information Types will leverage Interoperability between PID systems</h3>
				<h4>Ulrich Schwardmann</h4>
				<p>Metadata together with PIDs becomes the most important driver for research data reuse and sharing on one hand and for parametrization of data
management workflows on the other hand. Whereus findability is improved by a rich and deeply structured metadata set, parametrization of worklows especially with many data sets needs simpler and much faster accessible metadata for efficiency reasons. Furthermore communities have often their own demands on valuable metadata from the scientific point of view as well as for instance for access regulation on recent generated research data. This often does not fit into predefined schemas and rises the need for community specific policies. All this can be covered by utilizing the database behind the Handle PID system to maintain so called PID information types (PIT), and aggregate them into community specific lists of mandatory and optional properties. The proposed talk will describe, how such PID Information Types can be defined in data type registries together with automatically generated schemas and how PIDs can be enriched with such type instances, and eventually how this can substantially improve the interoperability and richness of metadata between PID systems as well as the trustworthyness in the data policies of research data repositories.
				</p>

				<hr class="primary">
				<h3 id="25">Prefix Commons</h3>
				<h4>Melissa Haendel</h4>
				<p>1) The confusion with identifiers often starts with the basics, including what the “identifier” even is. We routinely observe what “stuff falls in and out” of identifiers: all kinds of characters get prepended, subtracted, or altered when identifiers are referenced outside--and sometimes even inside--their database of origin. Assignment of identifiers is not coordinated across datasets or repositories, leading to the possibility of clashes on the same identifier, and clashes on the same prefix. When one finds a shortform database identifier “in the wild”, there are no universally accepted methods to:
</p>
<p>
Resolve it to a meaningful and authoritative web page<br />
Reference it in an external database<br />
Discover references to it in external databases<br />
Cite/mention it in the literature<br />
Discover citations/mentions of it in the literature<br />
Expand it to an http/https URI (Uniform Resource Locators which are critical in web-based data integration efforts such as the smartAPI BD2K interoperability supplement project, a project to link API outputs together.)
</p>
<p>
65% of the 1,499 data repositories registered in Re3Data, are characterized as having no (declared) persistent http identifier system. The same can be inferred for 47% of the 561 collections in Identifiers.org; however, it should be said that this is precisely why identifiers.org exists--to compensate for the lack of such systems from constituent providers. Because of the lack of documentation and transparency, it is often difficult to determine what the identifier system even is and whether or not it is backed by a commitment to persistence.
</p>
<p>
PrefixCommons is a cross-cutting framework to aggregate, document, and harmonize identifier prefixes from multiple sources, most notably Identifiers.org, the OBOFoundry, Bioportal, and prefix.cc. Prefix consistency and lack of global collisions are helpful to aid human understanding; however, neither of these features is required in order to make the existing situation better than it is. In PrefixCommons we have begun to develop tools for composing and validating sets of prefixes as used in different contexts. It also provides a framework for iteratively approaching a more unified standard for minting new identifier strategies.
</p>
<p>
 2) Organizational identifiers There are a large variety of sources for organizational identifiers. If we are to leverage semantics that connect people to organizations and to their scholarly products so as to aid contribution representation (this is the focus of the openRIF community effort in which I am involved), we should try to define either convergent or interoperable systems for describing organizational identifiers that allow attachment of synonyms and the provenance of those synonyms to such identifiers. Many preliminary efforts to do this over the past 15+ years have failed for a variety of reasons: a lack of quality data management, a lack of quality identifier schema, a lack of community interoperability, a lack of resolvability and persistence, no ability to contribute change requests, poor utility in semantic web applications, no ability to merge/split organizations and their temporal relations, etc. In our opinion, the best effort to date is the open and free effort provided by Digital Science, the Global Research Identifier Database, <a href="https://www.digital-science.com/products/grid/">GRID</a>. It is not without its issues, but because it is global in nature, easy to make requests of, and tries to address many of the aforementioned problems, we recommend that any efforts to improve organizational identifier strategies would not only aim to address the problems mentioned above, but that would also consider doing so in collaboration with GRID so that we don't end up with yet another standard. (Note that I do not work for Digital Science or have any financial affiliation, this is purely based on my experience in having to use/mint organizational identifiers over the past 7 years).
				</p>

				<hr class="primary">
				<h3 id="26">Publications and ORCIDs</h3>
				<h4>Ted Lawless</h4>
				<p>Over six million publications in the Web of Science are related to at least one author identified with an ORCID and more are added each month. Existing APIs allow customers to query the Web of Science and integrate data about affiliated researchers into their systems. How can this ORCID integration be leveraged? What are the next steps in utilizing identifiers to make connections across systems? Examples of potential data reuse will be presented and discussed.
				</p>
<hr class="primary">
	    <h3 id="33">Multi-Stakeholder Global Handle Registry - Enabling Digital Sovereignty</h3>
	    <h4>Christophe Blanchi</h4>
	    <p>The DONA Foundation (DONA) was constituted in Geneva in early 2014 in part to administer and maintain the stable operation of the Global Handle Registry (GHR) along with multiple parties around the globe known as the Multi-Primary Administrators (MPAs). Responsibility for the GHR, previously held solely by CNRI in Reston Virginia USA, was transferred to the DONA Foundation in May, 2014.  Since then, five MPAs have been authorized and credentialed by DONA to provide global handle services based on their credential.  New organizations are currently in the process of being considered for authorization as future MPAs by the DONA Board of Directors. </p>
	    <p>The MPA-based approach to operating the GHR is key to enabling operations and management of the Handle System on a distributed multi-stakeholder basis.  In this session, we will describe the operation and administration of the GHR on a multi-primary basis, under the overall administration of DONA, and will present some of the related standards, operating policies and procedures.</p>
	    
				<hr class="primary">
				<h3 id="27">Using DOIs and Crossref to assess the evolving institutional
support for open access publication fees</h3>
				<h4>Najko Jahn</h4>
				<p>Persistent identifier not only reference digital objects, but come with useful metadata. In my session, I present how research libraries can re-use Crossref's API and standardized metadata to keep track of recent developments in scholarly communication. More specifically, I address the problem of institutional spending for open access publication fees and journal subscriptions in Germany, and how to compare this expenditure across institutions by re-using Crossref's bibliographic index. As a tool, rOpenSci's rcrossref client is used. Several open questions to the PID community remain including versioning of metadata, in particular with regard to publisher and journal titles, as well as the current status of licensing information coverage in Crossref's index.
				</p>

	     <hr class="primary" /><br /><br />

        <h2 class="section-heading">
				  Persistence - Session Details
				</h2>

				<br /><br />
				<h3 id="32">Wikidata and Persistent Identifiers</h3>
				<h4>Arthur Smith - American Physical Society</h4>
				<p>Wikidata as an interoperability solution. Wikidata is the structured database solution (now about 4 years old) from the WikiMedia Foundation and is already the central source for linking articles across the many different language-specific wikipedia's. Wikidata allows additional structured data, including a wide variety of external identifiers, to be attached to entities. As a free, open, standards-based (RDF and SPARQL supported), and universally editable database, Wikidata may provide an ideal solution for interlinking and providing an interoperable interface for at least some persistent identifiers.
				</p>

				<hr class="primary">
				<h3 id="102">Assign locally, resolve globally: prefix-based collection access </h3>
				<h4>Tim Clark</h4>
				<p>This talk will discuss a joint project of the California Digital Library and the European Bioinformatics Institute, with other collaborators, to develop a common approach for global resolution of locally-assigned accession numbers, based on a shared registry of defined resource prefixes and provider codes. We believe our approach will enable academic publishers to implement the Joint Declaration of Data Citation Principles (JDDCP) more rapidly, easily and effectively for data in key bioinformatics resources.
				</p>



				<hr class="primary">
				<h3 id="28">What do we mean</h3>
				<h4>John Kunze</h4>
				<p>What do we mean by Persistence?  We don't have well-defined terms to talk about the various flavors of persistence that digital service providers support.  How do we make "persistent" reference to objects for which limited change is not a bug, but a feature?  And how do we characterize such change?  In this talk we invite feedback and testing on a draft set of persistence terms designed to help providers set user expectations and to inform users in their long-term linking choices.
				</p>

				<hr class="primary">
				<h3 id="29">ORCID &amp; Hyper-authored Articles: What are the options?</h3>
				<h4>Cory Craig</h4>
				<p>The number of published hyper-authored papers (those with hundreds or thousands of authors) is on the rise.  What are the options for display of ORCID iDs in these multi-authored works?  I will give an overview of the trends, issues, and logistics in hyper-authored papers with the goal of identifying options for including and displaying PIDs in these works.
				</p>

				<hr class="primary">
				<h3 id="30">Broken URLs</h3>
				<h4>Xinjian Guo</h4>
				<p>"The Yale Persistent Linking Service (YPLS) allows for creation of permanent links or handles that can be resolved to target URLs via Handle.Net Registry (HNR) by CNRI under the DONA Foundation. Broken URLs or outdated bookmarks often make the exploration and discovery of digital data very frustrating. Persistent links provide a mechanism for ensuring that links to digital assets will continue to resolve and provide access to digital content even if the location of the content and the underlying software change over time. The handle syntax is prefix/local-unique-identifier which makes the handle globally unique as the prefix Yale has registered is unique. YPLS supports two types of handle formats, one is based on a string of several alphanumeric characters generated with NOID (Nice Opaque IDentifier) minter, for example 10079/sqv9sf1, another is the semantically meaningful handles widely used by the libraries for online catalogs and finding aids, for example 10079/bibid/161348. A web interface was developed for users to create, update, delete, or resolve a single handle or a batch of handles using an input file. The web service API allows any system on campus to generate and manage handles programmatically. 
				</p>

				<hr class="primary">
				<h3 id="31">Blockchain</h3>
				<h4>Lambert Heller</h4>
				<p>Blockchain technology is - quiet possibly - about to disrupt the software related service infrastructure of science. (Good overview: S Bartling & B Fecher 2016, <a href="http://doi.org/10.5281/zenodo.60223">http://doi.org/10.5281/zenodo.60223</a>) . This is true especially in a field like PIDs, where executive powers are concentrated in the hands of few trusted agents. The mere availability of blockchain begs the question: Why don't we separate the production, updates and record keeping of IDs (which can now be done in a distributed way, without a need for any trusted central agents) from curating collections of PID'ed objects which meet certain criteria? What could be reached by e.g. coining PIDs for newly created objects directly by e.g. optical digital sensors, right away from the lab bench? Or by blockchain-based person identifiers which allow for pseudonymous (but otherwise open) publications, contributions to peer review or grant applications? - And assumed blockchain-based PIDs will prevail in some of these exemplary application fields - how do we make sure that traditionally organized PIDs and blockchain-based PIDs stay interoperable?
				</p>


	    <hr class="primary" /><br /><br />


        <h2 class="section-heading">
				  Org-ID - Session Details
				</h2>


				<br /><br />
				<h3 id="37">JISC</h3>
				<h4>Christopher Brown</h4>
				<p>
Following the publication of the report “<a href="http://repository.jisc.ac.uk/5853/">Review of selected organisational IDs and development of use cases for the Jisc CASRAI-UK Organisational Identifiers Working Group</a>”, Jisc has been reviewing its recommendations and engaging with UK stakeholders and international partners on the requirements for an orgID. Although there are many technical issues to resolve with the adoption of an existing, or new, orgID, any solution will only gain traction when implemented by key stakeholders. Can we wait for a perfect solution or should we promote one that satisfies most requirements but can be improved? Are higher education institutions in the UK waiting for guidance from research funders before making a decision, while developing short-term solutions? Whatever is the best solution, it will only be adopted when key stakeholders have been persuaded to adopt it and integrate it with their existing systems. Establishing the benefits are key to selling any solution, but to achieve a consensus requires community engagement. This session will highlight the work Jisc has undertaken to understand the benefits and the work engaging with stakeholders and the community.
				</p>

				<hr class="primary">
				<h3 id="101">Identifying Legal Entities</h3>
				<h4>Daniel Goroff</h4>
				<p>The Global Legal Entity Identifier (LEI) System is designed to uniquely and unambiguously identify participants in financial transactions.  The ISO 17442 standard defines a set of attributes or legal entity reference data that are the most essential elements of identification.  The Common Data File format provides the specificity needed for implementation of the ISO standard. The reporting of LEI and legal entity reference data is conducted daily by LEI issuing organizations using the Common Data File format.
 <p></p>
<p>The LEI code itself is neutral, with no embedded intelligence or country codes which would create unnecessary complexity for users.  Four key principles underlie the LEI:  1) It is a global standard; 2) A single, unique identifier is assigned to each legal entity; 3) It is supported by high data quality; and 4) The dataset is a public good, available free of charge to all users."
				</p>



				<hr class="primary">
				<h3 id="38">GRID</h3>
				<h4>Andres Mori</h4>
				<p>The Global Research Identifier Database (GRID) is a free (CC-BY), manually curated database of organizations associated with research. Its main purpose is to assist in issues with disambiguation, integration and analysis of data relevant to organizations featured in the scientific process.
We will discuss the challenges in terms of data coverage, structure and quality presented by a persistent identifier database at a global scale. The benefits of offering various data formats for distribution will also be addressed, specifically in terms of API and open linked data (RDF).
				</p>

				<hr class="primary">
				<h3 id="39">Organisation Identifiers - APS experience</h3>
				<h4>Arthur Smith</h4>
				<p>Issues of granularity, hierarchy, naming, varieties of roles, geographic location and change over time make institutional identifiers surprisingly complex to handle, and standards (de facto or otherwise) in this area have so far proven inadequate to the problem of allowing researchers to unambiguously and uniquely identify their institutions in publication or other venues. Ideally this session would examine existing and new institutional identifiers and the important use cases they need to support, and help chart a path to solving the real problems in this area.
				</p>

      </div>
    </div>
	  </div>
</section>


    <section class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

            <h2 class="section-heading">
		Open identifiers deserve their own festival
	</h2>
            <hr class="light">
            <p>Why build an open identifier infrastructure? So
		that anyone can use it to create cool tools and
		services for the research community. This year's festival themes include: </p>

<h4>PID stories</h4>
<p>Which strategies worked?  Which strategies failed?  Tell us your horror stories! Share your victories!</p>

<h4>Emerging PIDs</h4>
<p>Long-term identifiers are no longer just for digital objects.  We have use cases for people, organizations, vocabulary terms, and more. What additional use cases are you working on?</p>

<h4>PIDagogy</h4>
<p>It’s a challenge for those who provide PID services and tools to engage the wider community. How do you teach, learn, persuade, discuss, and improve adoption? What's it mean to build a pedagogy for PIDs?</p>

<h4>PID Sci</h4>
<p> They live in the lab. They live in the field. Let's talk about practical applications of PIDs in the real-life research world.</p>

<h4>The I-word</h4>
<p>What would make heterogeneous PID systems "interoperate" optimally?  Would standardized metadata and APIs across PID types solve many of the problems, and if so, how would that be achieved?  What about standardized link/relation types?</p>

<h4>Persistence</h4>
<p>So many factors affect persistence: mission, oversight, funding, succession, redundancy, governance.  Is open infrastructure for scholarly communication the key to achieving persistence? What are the frontiers of ‘persistence’? </p>

<h4>Org IDs</h4>
<p>There are tons of different approaches to organizational identifers. So they get their own track. </p>


	<br /> <br /> <br />

                </div>
            </div>
        </div>
    </section>


<!-- -------------------------- REGISTER -------------------------------- -->

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Register now</h2>
        <hr class="primary">
        <p>
					PIDapalooza is a two-day Persistent Identifier festival, happening
					for the first time this year: November 9-10, 2016. California Digital
					Library, Crossref, DataCite, and ORCID invite you to Iceland for a
					mixture of PID demos, workshops, brainstorming and updates on the
					state of the art.
        </p>
        <p>
          <strong>Where:</strong> <br />
          Radisson Blu Saga Hotel<br />
          Hagatorg, 107<br />
          Reykjavík, Iceland
        </p>
        <p>
          <strong>When:</strong><br />
					9th and 10th November 2016
        </p>
        <p>
          <br />
          <a href="http://pidapalooza.eventbrite.com/" class="btn btn-default">
            Register here!
          </a>
          <br />
        </p>
      </div>
    </div>
  </div>
</section>


		    <!-- Map -->
		    <section id="map" class="bg-dark">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6864.687746165435!2d-21.950982596589462!3d64.14196954477868!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d60b307a2f3519%3A0x3acb6a7a6fa3d980!2sH%C3%B3tel+Saga!5e0!3m2!1sen!2ses!4v1474884781266" width="2000" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
		    </section>

    <section class="bg-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">
						Can't wait? Contact us!
					</h2>
					<hr class="primary">
					<p>
						<i class="fa fa-twitter fa-2x"></i>
						<br />
						<a href="http://twitter.com/pidapalooza">
							@pidapalooza
						</a>
						<br />
						#pidapalooza
						<br /><br />
						<i class="fa fa-envelope fa-2x"></i>
							<br />
							<a href="mailto:info@pidapalooza.org">
							info@pidapalooza.org
						</a>
					</p>
					<p>
						<a href="http://crossref.org">
							<img src="images/crossref.svg" width="120px" alt="Crossref" />
						</a>
						<a href="http://datacite.org">
							<img src="images/datacite.svg" width="250px" alt="Crossref" />
						</a>
						<a href="http://orcid.org">
							<img src="images/orcid.svg" width="150px" alt="Crossref" />
						</a>
						<a href="http://www.cdlib.org">
							<img src="images/cdl.svg" width="150px" alt="CDL" />
						</a>
					</p>
                </div>
            </div>
        </div>
    </section>


