---
title: PIDapalooza
---

    <header>
        <div class="header-content">
				<img src="images/logo.svg" alt="pidapalooza" width="40%" /> 
				<br /><br /><br /><br />
				<a href="#about" class="btn btn-primary">
					Submit your Talk
				</a>
				<br />
        </div>
		<div class="audience">
			Martin Fisch - 
			<a href="https://www.flickr.com/photos/marfis75/7968954274/">
				The audience is shaking
			</a>
		</div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">
						Open identifiers deserve their own festival
					</h2>
                    <hr class="light">
                    <p>Why build an open identifier infrastructure? So 
						that anyone can use it to create cool tools and
						services for the research community. If you’re
						doing something interesting with persistent
						identifiers, or you want to, come to PIDapalooza
						and share your ideas with a crowd of like-minded
						innovators. Submit your 30-min session proposal today! 
					</p>
					<p>
						<strong><a href="https://goo.gl/forms/Af2K5gJrNvHC0ojX2">Submit your PIDapalooza session proposals</a> by September 18</strong>
					</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">
						Register now
					</h2>
                    <hr class="primary">
                    <p>PIDapalooza is a two-day Persistent Identifier 
						festival, happening for the first time this year: November 9-10.
						California Digital Library, Crossref, DataCite, and ORCID invite you to Iceland
					for a mixture of PID demos, workshops,
						brainstorming and updates on the state of the art.
					</p>
					<p>
						<strong>Where:</strong> <br />
						Reykjavik (Iceland)
					</p>
					<p>
						<strong>When:</strong>
						<br />9th and 10th November 2016						
					</p>
					p>
						<strong><a href="http://pidapalooza.eventbrite.com">Registration</a> is now open!</strong>
					</p>
                </div>
            </div>
        </div>
    </section>
	
    <section class="bg-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">
						Can't wait? Contact us!
					</h2>
					<hr class="primary">
					<p>	
						<i class="fa fa-twitter fa-2x"></i>
						<br />
						<a href="http://twitter.com/pidapalooza">
							@pidapalooza
						</a> 
						<br />
						#pidapalooza
						<br /><br />
						<i class="fa fa-envelope fa-2x"></i>
							<br />
							<a href="mailto:pidapalooza@datacite.org">
							pidapalooza@datacite.org
						</a>
					</p>
					<p>
						<a href="http://crossref.org">
							<img src="images/crossref.svg" width="120px" alt="Crossref" />
						</a>
						<a href="http://datacite.org">
							<img src="images/datacite.svg" width="250px" alt="Crossref" />
						</a>
						<a href="http://orcid.org">
							<img src="images/orcid.svg" width="150px" alt="Crossref" />
						</a>
						<a href="http://www.cdlib.org">
							<img src="images/cdl.svg" width="150px" alt="CDL" />
						</a>
					</p>
                </div>
            </div>
        </div>
    </section>
