---
title: PIDapalooza
---

    <header>
        <div class="header-content">
				<img src="images/logo.svg" alt="pidapalooza" width="40%" /> 
				<br /><br /><br /><br />
				<a href="#about" class="btn btn-primary">
					Registration is open!
				</a>
				<br />
        </div>
		<div class="audience">
			Martin Fisch - 
			<a href="https://www.flickr.com/photos/marfis75/7968954274/">
				The audience is shaking
			</a>
		</div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

				                    <h2 class="section-heading">
										Register now
									</h2>
				                    <hr class="primary">
				                    <p>PIDapalooza is a two-day Persistent Identifier 
										festival, happening for the first time this year: November 9-10, 2016.
										California Digital Library, Crossref, DataCite, and ORCID invite you to Iceland
									for a mixture of PID demos, workshops,
										brainstorming and updates on the state of the art.
									</p>
									<p>
										<strong>Where:</strong> <br />
											Radisson Blu Saga Hotel
											<br />
											Hagatorg, 107 
											<br />
											Reykjavík, Iceland
									</p>
									<p>
										<strong>When:</strong>
										<br />9th and 10th November 2016						
									</p>
					
									<p>
										<br />
										<a href="http://pidapalooza.eventbrite.com/" class="btn btn-default">
											Register here!
										</a>
										<br />
									</p>
									<p>
										Deadline: November 7, 2016
									</p>

                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
            <h2 class="section-heading">
		Open identifiers deserve their own festival
	</h2>
            <hr class="light">
            <p>Why build an open identifier infrastructure? So 
		that anyone can use it to create cool tools and
		services for the research community. This year's festival themes include: </p>

<h4>PID myths</h4>
<p>Are PIDs better in our minds than in reality?  PID stands for Persistent IDentifier, but what does that mean and does such a thing exist? </p>

<h4>Achieving persistence</h4>
<p>So many factors affect persistence: mission, oversight, funding, succession, redundancy, governance.  Is open infrastructure for scholarly communication the key to achieving persistence?</p>

<h4>PIDs for emerging uses</h4>
<p>Long-term identifiers are no longer just for digital objects.  We have use cases for people, organizations, vocabulary terms, and more. What additional use cases are you working on?</p>

<h4>Legacy PIDs</h4>
<p>There are of thousands of venerable old identifier systems that people want to continue using and bring into the modern data citation ecosystem.  How can we manage this effectively?</p>

<h4>The I-word</h4>
<p>What would make heterogeneous PID systems "interoperate" optimally?  Would standardized metadata and APIs across PID types solve many of the problems, and if so, how would that be achieved?  What about standardized link/relation types?</p>

<h4>PIDagogy</h4>
<p>It’s a challenge for those who provide PID services and tools to engage the wider community. How do you teach, learn, persuade, discuss, and improve adoption? What's it mean to build a pedagogy for PIDs?</p>

<h4>PID stories</h4>
<p>Which strategies worked?  Which strategies failed?  Tell us your horror stories! Share your victories!</p>

<h4>Kinds of persistence</h4>
<p>What are the frontiers of ‘persistence’? We hear lots about fraud prevention with identifiers for scientific reproducibility, but what about data papers promoting PIDs for long-term access to reliably improving objects (software, pre-prints, datasets) or live data feeds?</p>


	<p>
		<br />
		<a  class="btn btn-default" disabled>
			Session proposal closed
		</a>
		<br />
	</p>
					
					
                </div>
            </div>
        </div>
    </section>
		
		
		    <!-- Map -->
		    <section id="map" class="bg-dark">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6864.687746165435!2d-21.950982596589462!3d64.14196954477868!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d60b307a2f3519%3A0x3acb6a7a6fa3d980!2sH%C3%B3tel+Saga!5e0!3m2!1sen!2ses!4v1474884781266" width="2000" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
		    </section>
	
    <section class="bg-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">
						Can't wait? Contact us!
					</h2>
					<hr class="primary">
					<p>	
						<i class="fa fa-twitter fa-2x"></i>
						<br />
						<a href="http://twitter.com/pidapalooza">
							@pidapalooza
						</a> 
						<br />
						#pidapalooza
						<br /><br />
						<i class="fa fa-envelope fa-2x"></i>
							<br />
							<a href="mailto:info@pidapalooza.org">
							pidapalooza@datacite.org
						</a>
					</p>
					<p>
						<a href="http://crossref.org">
							<img src="images/crossref.svg" width="120px" alt="Crossref" />
						</a>
						<a href="http://datacite.org">
							<img src="images/datacite.svg" width="250px" alt="Crossref" />
						</a>
						<a href="http://orcid.org">
							<img src="images/orcid.svg" width="150px" alt="Crossref" />
						</a>
						<a href="http://www.cdlib.org">
							<img src="images/cdl.svg" width="150px" alt="CDL" />
						</a>
					</p>
                </div>
            </div>
        </div>
    </section>
		
	
